# API Gateway
VITE_API_URL=http://localhost:5000/api
VITE_SOCKET_URL=http://localhost:5000

# Mapbox GL Token
VITE_MAPBOX_TOKEN=your_mapbox_public_token_here

# EmailJS Emergency Alerts (Neil)
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=
